---
---

$main-font-family: 'Baloo 2', 'Verdana', 'Tahoma', 'Arial', 'Helvetica', sans-serif;
$title-font-family: 'Special Elite', 'Verdana', 'Tahoma', 'Arial', 'Helvetica', sans-serif;

@import "{{ site.theme }}";

body {
    font-family: $main-font-family;
    font-size: 15pt;
}

header {
    .title {
	a, a:hover {
	    color: black;
	}
    }
}

.markdown-body {
    
    h1.title {
	font-family: $title-font-family;
	font-style: normal;
    }
    
    blockquote:before {
	content: "\201C";
    }

    ul {
	padding: 0 3em;
    }

    abstract {
	@extend blockquote;
	display: block;
	padding: 0 1.5em;
	font-family: $main-font-family;
	font-size: larger;
    }

    abstract:before {
	content: "";
    }

    .post-image {
	display: block;
	margin: auto;
	padding: 0 1em;
    }

    aside {
	display: block;
	background-color: #eee;
	font-size: smaller;
	font-style: italic;
	text-align: justify;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	padding: 0 1em 0 2em;
    }

    takeaway {
	@extend abstract;
	margin-top: 3ex;
	margin-bottom: 5ex;
	font-family: $main-font-family;
	font-size: large;
    }
}

.highlighter-rouge {
    background-color: #eee;
    padding: 0.5ex;
    border-radius: 0.5ex;

    &.language-console .lines {
	visibility: hidden;
    }
}

.twitter-handle {
    background-image: url(/assets/Twitter_Logo_Blue.svg);
    background-repeat: no-repeat;
    padding: 4px;
    padding-left: 3ex;
}

.post-list {
    .post {
	font-size: initial;
	line-height: 1.1;

	.title {
	    font-size: x-large;
	}
	
	time {
	    display: block;
	    float: right;
	    font-size: small;
	}

	.comment-count {
	    display: block;
	}

	abstract {
	    border-width: thin;
	    margin-left: 1em;
	    margin-right: 1em;
	    margin-top: 0.5em;
	    margin-bottom: 0;
	    padding: 0 0.5em;
	}

	hr {
	    margin: 5ex 0;
	    border-width: 2px;
	}

	p, takeaway {
	    text-align: justify;
	}
    }
}

article.markdown-body {
    .pubdate {
	float: left;
    }

    .tags {
	float: right;
    }

    .title {
	clear: both;
	text-wrap: balance;
    }
}

footer .owner {
    display: flex;
    justify-content: space-between;

    p {
	margin:0 ;
    }
}

.cookie-notice {
    position: fixed;
    box-sizing: border-box;
    bottom: 1em;
    left: 1em;
    right: 1em;
    margin: 2px;
    padding: 1em;
    border: 5px solid #444;
    background-color: #222;
    color: white;
    text-align: right;

    .notice {
	text-wrap: balance;
	text-align: center;
    }

    a, button {
	margin: 0 1em;
    }

    button {
	background-color: #ccc;
	border-color: #eee;
	color: black;
	min-width: 3em;
    }
}
